body {
  font: 400 16px/1.3 'Roboto', sans-serif;
  color: var(--color-grey-700);
  background: var(--color-pink-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-height-padding {
  padding-top: var(--header-height);
}

.header-height-deduct {
  min-height: calc(100vh - var(--header-height));
}

.header-footer-height-deduct {
  min-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
}


.container {
  max-width: 1012px;
  @apply px-4 mx-auto w-full
}

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-h-screen {
  min-height: 100vh;
}

.transition-3s {
  transition: .3s all;
}

.flex-center {
  @apply flex justify-center items-center;
}

